body {
  background-color: #cee5d0;
}

hr {
border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 5%;

}

h1 {
  color: #bf1363;


}

h3 {
  color: #bf1363;


}

img:hover {
  background-color: gold;
}

.broccoli{
  background-color: green;
}

#heading {
  background-color: blue;
}
